// fonts
@mixin header-font {
    font-family: Arial, serif;
    font-size: 14px;
}
@mixin header-title-font {
    font-family: Arial, serif;
    font-size: 20px;
}
@mixin message-text-font {
    font-family: Arial, serif;
    font-size: 14px;
}
@mixin message-info-font {
    font-family: Arial, serif;
    font-size: 12px;
}
@mixin input-text-font {
    font-family: Arial, serif;
    font-size: 14px;
}
@mixin input-button-font {
    font-family: Arial, serif;
    font-size: 12px;
}
@mixin divider-font {
    font-family: Arial, serif;
    font-size: 12px;
}

//image-wrap
@mixin image-circle-wrap($width, $height) {
    width: $width;
    height: $height;
    border-radius: 50%;
    overflow: hidden;
  
    img {
      height: 100%;
      width: 100%;
    }
}

// other 
@mixin message-base {
    max-width: 50%;
    display: flex;
    align-items: center;
    position: relative;
}