@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;

.own-message {
    @include mixins.message-base;
    flex-direction: row-reverse;
    margin-left: auto;

    .one {
        align-self: end;
        padding-bottom: 20px;
        .img-container{
            @include mixins.image-circle-wrap(45px, 45px);
        }
    }

    .two {
        flex-grow: 1;
        padding: 20px;
        padding-left: 12px;

        .message-text {
            @include mixins.message-text-font;
            padding: 20px;
            margin: 0;
            margin-bottom: 6px;
            color: variables.$message-text-color-primary;
            background-color: variables.$message-text-background-primary;
            border-radius: 12px;
        }

        .message-info {
            display: flex;
            padding: 0 16px;
            @include mixins.message-info-font;
            color: variables.$message-text-color-secondary;

            .message-time {
                margin-left: auto;
            }
        }
        
    }
    .three {
        display: none;
        position: absolute;
        left: -10px;
        flex-direction: column;

        svg:first-child {
            margin-bottom: 10px;
        }
    }

    &:hover .three {
        display: flex;
        cursor: pointer;
    }
}