@use 'styles/variables' as variables;
@use 'styles/mixins' as mixins;


.divider {
    max-height: 600px;
    min-height: 600px;
    overflow-y: scroll;
    


    .date-label {
        @include mixins.divider-font;
        text-align: center;
        color: variables.$divider-text-color-secondary;
    }
}
